---
#--------------------------------------------------
#  发布Docker项目到生产环境
#
#  免费版的Github Organization，不支持配置Secrets，所以
#  通过自托管的Runner从服务器上获取SSH Private Key。
#--------------------------------------------------
#

name: Deploy Docker

env:
  DEPLOY_OWNER: root
  SSH_USER: root
  WEB_DIR: /www/wwwroot

on:
  workflow_call:
    inputs:
      acr_username:
        required: true
        type: string
      acr_repo:
        required: true
        type: string
    secrets:
      acr_password:
        required: true

jobs:
  info:
    runs-on: self-hosted
    steps:
      - name: 当前用户
        run: whoami
      - name: 输出变量
        run: |
          echo "GITHUB_WORKFLOW: $GITHUB_WORKFLOW"
          echo "GITHUB_ACTION: $GITHUB_ACTION"
          echo "GITHUB_ACTION_PATH: $GITHUB_ACTION_PATH"
          echo "GITHUB_ACTIONS: $GITHUB_ACTIONS"
          echo "GITHUB_ACTOR: $GITHUB_ACTOR"
          echo "GITHUB_REPOSITORY: $GITHUB_REPOSITORY"
          echo ${{ inputs.username }}

  set-deploy-variables:
    runs-on: self-hosted
    steps:
      - name: 当前用户
        run: whoami
      - name: 检查deploy.env文件
        run: |
          if [[ ! -f /www/deploy.env ]];then
            echo -e "\033[5;31m- 请在/www/deploy.env文件中配置各个环境变量的值 \033[0m"
            exit 1
          fi
      - name: 复制deploy_host文件
        run: source /www/deploy.env && echo $HOST_IP > ./deploy_host
      - name: 上传deploy_host文件
        uses: actions/upload-artifact@v2
        with:
          name: deploy_host
          path: deploy_host
          retention-days: 1
      - name: 复制deploy_key文件
        run: source /www/deploy.env && echo -e $DEPLOY_KEY > ./deploy_key
      - name: 上传deploy_key文件
        uses: actions/upload-artifact@v2
        with:
          name: deploy_key
          path: deploy_key
          retention-days: 1
      - name: 复制deploy_env文件
        run: cp /www/deploy.env ./deploy_env
      - name: 上传deploy_env文件
        uses: actions/upload-artifact@v2
        with:
          name: deploy_env
          path: deploy_env
          retention-days: 1

  set-variables:
    runs-on: ubuntu-latest
    outputs:
      database_name: ${{ steps.step1.outputs.database_name }}
      release_dir: ${{ steps.step2.outputs.release_dir }}
      horizon_installed: ${{ steps.step3.outputs.horizon_installed }}
      opcache_installed: ${{ steps.step4.outputs.opcache_installed }}
      deploy_dir: ${{ steps.step5.outputs.deploy_dir }}
      deploy_dir_name: ${{ steps.step6.outputs.deploy_dir_name }}
      need_npm_build: ${{ steps.step7.outputs.need_npm_build }}
      deploy: ${{ steps.step8.outputs.deploy }}
    steps:
      - name: 当前用户
        run: whoami
      - name: 下载项目
        uses: actions/checkout@v2.3.4
      - name: 生成数据库名
        id: step1
        run: |
          name=${{ github.event.repository.name }}
          new=${name//./_}
          echo -e "::set-output name=database_name::${new}"
      - name: 生成发布文件夹名称
        id: step2
        run: |
          name="${{ env.WEB_DIR }}/releases/${{ github.event.repository.name }}_$(date +"release_%Y%m%d%H%M%S")"
          echo -e "::set-output name=release_dir::${name}"
          echo $name > release_dir
      - name: 上传release_dir文件
        uses: actions/upload-artifact@v2
        with:
          name: release_dir
          path: release_dir
          retention-days: 1
      - name: 判断是否安装了Laravel Horizon
        id: step3
        run: |
          if [[ -f "artisan" ]] && [[ -f "composer.json" ]] && grep -q "horizon" composer.json ; then
            horizon=true
            echo '安装了horizon'
          else
            horizon=''
            echo '未安装horizon'
          fi
          echo -e "::set-output name=horizon_installed::${horizon}"
      - name: 判断是否安装了Opcache扩展包
        id: step4
        run: |
          if [[ -f "artisan" ]] && [[ -f "composer.json" ]] && grep -q "opcache" composer.json ; then
            opcache=true
            echo '安装了opcahe扩展包'
          else
            opcache=''
            echo '未安装opcache扩展包'
          fi
          echo -e "::set-output name=opcache_installed::${opcache}"
      - name: 生成部署文件夹路径
        id: step5
        run: |
          name="/www/wwwroot/${{ github.event.repository.name }}"
          echo -e "::set-output name=deploy_dir::${name}"
          echo $name > deploy_dir
      - name: 上传deploy_dir文件
        uses: actions/upload-artifact@v2
        with:
          name: deploy_dir
          path: deploy_dir
          retention-days: 1
      - name: 生成部署文件夹名称
        id: step6
        run: |
          name=${{ github.event.repository.name }}
          echo -e "::set-output name=deploy_dir_name::${name}"
          echo $name > deploy_dir_name
      - name: 上传deploy_dir_name文件
        uses: actions/upload-artifact@v2
        with:
          name: deploy_dir_name
          path: deploy_dir_name
          retention-days: 1
      - name: 判断是否需要执行NPM构建
        id: step7
        run: echo -e "::set-output name=need_npm_build::$NPM_BUILD"
      - name: 判断是否需要部署
        id: step8
        run: |
          if [[ -f "do_not_deploy" ]]; then
            deploy=false
            echo 'do_not_deploy文件存在，无需部署'
          else
            deploy=true
          fi
          echo -e "::set-output name=deploy::${deploy}"

  make-env:
    runs-on: ubuntu-latest
    needs: [set-variables, set-deploy-variables, info]
    env:
      DB_DATABASE: ${{ needs.set-variables.outputs.database_name }}
      TARGET: .env
      APP_URL: http://${{ github.event.repository.name }}
    steps:
      - name: 当前用户
        run: whoami
      - name: 下载项目
        uses: actions/checkout@v2
      - name: 下载deploy_env
        uses: actions/download-artifact@v2
        with:
          name: deploy_env
      - name: 复制.env文件模板
        run: |
          if [[ -f .env.example ]]; then
            cp .env.example .env
          else
            echo ".env.example不存在，无需复制"
          fi
      - name: 生成.env文件
        run: |
          if [[ ! -f .env.example ]]; then
            echo ".env.example不存在，跳过"
          else
            # 加载变量
            source ./deploy_env
            # 将所有变量存入文件，用于下文判断变量是否存在
            env > env.txt && cat ./deploy_env env.txt > variables.txt
            echo -e "\033[32m---- 将${TARGET}文件中的环境变量替换成配置的值 ----\033[0m"
            # 找出配置文件中的所有的环境变量并存入数组中
            keys=$(eval echo $(sed -n "s/{{\([A-Z0-9a-z_]\{1,200\}\)}}$/\1/p" "$TARGET" | grep -o -e =.*|awk -F = '{ print $2 }'));
            array=(${keys// / })
            # 逐个替换
            hasError=false
            for key in ${array[@]}; do
                eval value=\$"${key}"
                # 转义value中的特殊字符（比如&符号，不转义会被下面的sed命令识别成特殊符号）
                value=${value/\&/\\&}
                if grep -q "^$key=" variables.txt ; then
                  # 找出配置文件中的环境变量，并替换，请根据实际的格式修改这里的表达式
                  echo -e "- 替换${key}"
                  sed -i "s#{{$key}}#$value#" "$TARGET"
                else
                  echo -e "\033[5;31m- $key的值未配置 \033[0m"
                  hasError=true
                fi
            done
            if [ $hasError == true ];then
              echo -e "\033[5;31m---- 部分变量值未配置 \r\n \033[0m"
              exit 1
            fi
            echo -e "\033[32m---- 环境变量替换处理完成\r\n\033[0m"
          fi
      - name: 上传.env构件
        uses: actions/upload-artifact@v2
        with:
          name: .env
          path: .env
          retention-days: 1

  upload-docker-compose:
    runs-on: ubuntu-latest
    needs: [set-variables, set-deploy-variables, info]
    steps:
      - name: 下载项目
        uses: actions/checkout@v2
      - name: 上传docker-compose.yml文件
        uses: actions/upload-artifact@v2
        with:
          name: docker-compose.yml
          path: docker-compose.yml
          retention-days: 1

  build:
    needs: [make-env]
    runs-on: ubuntu-latest
    steps:
      - name: 下载项目
        uses: actions/checkout@v2
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v1
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1
      - name: 登录ACR
        run: docker login -u ${{ inputs.acr_username }} -p ${{ secrets.acr_password }} registry.cn-shanghai.aliyuncs.com
      - name: Build and push image
        uses: docker/build-push-action@v2
        with:
          context: .
          push: true
          tags: ${{ inputs.acr_repo }}:${{ github.sha }}
          cache-from: type=registry,ref=${{ inputs.acr_repo }}:latest
          cache-to: type=inline

  start:
    needs: [build]
    runs-on: self-hosted
    steps:
      - name: 当前用户
        run: whoami
      - name: 下载deploy_dir构件
        uses: actions/download-artifact@v2
        with:
          name: deploy_dir
      - name: 设置DEPLOY_DIR变量
        run: echo "DEPLOY_DIR=$(cat deploy_dir)" >> $GITHUB_ENV
      - name: 删除deploy_dir构件
        run: rm -rf deploy_dir
      - name: 跳转到项目文件夹
        run: cd $DEPLOY_DIR
      - name: 下载.env
        uses: actions/download-artifact@v2
        with:
          name: .env
      - name: 当前路径
        run: |
          pwd 
          ls -alh
      - name: 登录ACR
        run: docker login -u ${{ inputs.acr_username }} -p ${{ secrets.acr_password }} registry.cn-shanghai.aliyuncs.com
      - name: 启动服务
        run: |
          docker stop addog
          docker rm addog
          docker run --name=${{ inputs.acr_repo }} --network apps -v "$PWD/.env":/workdir/.env -d ${{ inputs.acr_repo }}:$TAG

  clear-artifacts:
    needs: [start]
    runs-on: ubuntu-latest
    if: always()
    steps:
      - name: 当前用户
        run: whoami
      - name: 清理构件
        uses: geekyeggo/delete-artifact@v1
        with:
          name: |
            deploy_env
            deploy_key
            deploy_host
