---
#--------------------------------------------------
#  发布 Laravel 到生产环境
#--------------------------------------------------
#

name: Deploy Laravel

env:
  DEPLOY_OWNER: www
  SSH_USER: root
  WEB_DIR: /www/wwwroot

on:
  workflow_call:
    inputs:
      repository:
        description: 镜像仓库名称
        required: false
        type: string
        default: registry.cn-shanghai.aliyuncs.com/nooks/${{ github.event.repository.name }}
      run_tests:
        description: 运行单元测试
        required: false
        type: boolean
        default: false
      app_url:
        description: 应用的域名
        required: false
        type: string
        default: https://${{ github.event.repository.name }}
      DEPLOY_DIR:
        description: 部署目录
        required: false
        type: string
        default: /www/wwwroot/${{ github.event.repository.name }}
      DEPLOY_DIR_NAME:
        description: 部署目录名称
        required: false
        type: string
        default: ${{ github.event.repository.name }}
      RELEASE_DIR:
        description: 发布目录
        required: false
        type: string
        default: ${{ env.WEB_DIR }}/releases/${{ github.event.repository.name }}_$(date +"release_%Y%m%d%H%M%S")

jobs:
  # 从服务器上下载存储secrets的文件
  set-secrets:
    runs-on: self-hosted
    steps:
      - run: cp /www/secrets secrets
      - name: 上传secrets文件
        uses: actions/upload-artifact@v2
        with:
          name: secrets
          path: secrets
          retention-days: 1

  # 将变量都存入一个文件中，以便后续使用
  set-variables:
    runs-on: ubuntu-latest
    steps:
      - name: 生成数据库名
        run: |
          name=${{ github.event.repository.name }}
          new=${name//./_}
          echo "DATABASE_NAME=${new}" >> variables
      - name: 生成发布文件夹名称
        run: |
          name="${{ env.WEB_DIR }}/releases/${{ github.event.repository.name }}_$(date +"release_%Y%m%d%H%M%S")"
          echo "RELEASE_DIR=${name}" >> variables
      - name: 上传variables文件
        uses: actions/upload-artifact@v2
        with:
          name: variables
          path: variables
          retention-days: 1

  tests:
    runs-on: ubuntu-latest
    if: ${{ inputs.run_tests }}
    steps:
      - name: 下载项目
        uses: actions/checkout@v2.3.5
      - name: 生成.env文件
        run: cp .env.example .env
      - name: 运行应用
        run: docker-compose -f docker-compose.dev.yml up -d --quiet-pull
      - name: 安装依赖
        run: docker-compose -f docker-compose.dev.yml exec -T app composer install
      - name: 运行单元测试
        run: docker-compose -f docker-compose.dev.yml exec -T app php artisan test --without-tty

  build:
    runs-on: ubuntu-latest
    needs: set-secrets
    steps:
      - name: 下载项目
        uses: actions/checkout@v2.3.5
      - name: 下载secrets
        uses: actions/download-artifact@v2
        with:
          name: secrets
      - name: 登录ACR
        run: |
          source secrets && rm -f secrets
          docker login -u $ACR_USERNAME -p $ACR_PASSWORD ${{ inputs.repository }}
      - name: 构建镜像并推送到仓库
        uses: docker/build-push-action@v2
        with:
          context: .
          push: true
          tags: |
            ${{ inputs.repository }}:${{ github.sha }}
            ${{ inputs.repository }}:latest
          cache-from: type=registry,ref=${{ inputs.repository }}
          cache-to: type=inline

  make-env:
    runs-on: ubuntu-latest
    needs: [set-variables, set-secrets]
    steps:
      - name: 下载项目
        uses: actions/checkout@v2.3.5
      - name: 下载variables
        uses: actions/download-artifact@v2
        with:
          name: variables
      - name: 下载secrets
        uses: actions/download-artifact@v2
        with:
          name: secrets
      - name: 环境变量存入文件中
        run: cat variables secrets > script
      - name: 复制.env文件模板
        run: cp .env.example .env
      - name: 生成.env文件
        uses: nookery/env-replace-action@main
        env:
          APP_URL: ${{ inputs.app_url }}
        with:
          local_script: script
      - name: 上传.env构件
        uses: actions/upload-artifact@v2
        with:
          name: .env
          path: .env
          retention-days: 1

  sync:
    needs: [make-env, set-variables, build, set-secrets]
    runs-on: ubuntu-latest
    steps:
      - name: 下载variables
        uses: actions/download-artifact@v2
        with:
          name: variables
      - name: 下载secrets
        uses: actions/download-artifact@v2
        with:
          name: secrets
      - name: 登录ACR
        run: |
          source variables && source secrets
          docker login -u $ACR_USERNAME -p $ACR_PASSWORD ${{ inputs.repository }}
      - name: 从镜像中提取文件
        run: |
          id=$(docker create ${{ inputs.repository }})
          docker cp $id:/workdir ./workdir
      - name: 下载.env文件
        uses: actions/download-artifact@v2
        with:
          name: .env
          path: ./workdir
      - name: 同步到目标服务器
        run: |
          source variables && source secrets
          echo -e $DEPLOY_KEY > ./deploy_key && chmod 600 deploy_key
          rsync --chown=${{ env.DEPLOY_OWNER }}:${{ env.DEPLOY_OWNER }} \
            -a \
            --chmod=755 \
            --delete \
            -tt -rltgoDzvO \
            -e "ssh -i ./deploy_key -p 22 -o UserKnownHostsFile=/dev/null -o StrictHostKeyChecking=no" \
            ./workdir/ $SSH_USER@$HOST_IP:$RELEASE_DIR

  link:
    needs: sync
    runs-on: ubuntu-latest
    steps:
      - name: 下载variables
        uses: actions/download-artifact@v2
        with:
          name: variables
      - name: 下载secrets
        uses: actions/download-artifact@v2
        with:
          name: secrets
      - name: 设置环境变量
        run: |
          source secrets && source variables
          echo "HOST=$HOST_IP" >> $GITHUB_ENV
          echo "RELEASE_DIR=$RELEASE_DIR" >> $GITHUB_ENV
      - name: 生成private_key
        run: source secrets && echo -e $DEPLOY_KEY > private_key
      - name: 设置软链接
        uses: appleboy/ssh-action@master
        with:
          host: ${{ env.HOST }}
          username: root
          key_path: private_key
          script: cd ${{ env.RELEASE_DIR }} && cd .. && ln -snf ${{ env.RELEASE_DIR }} ${{ inputs.DEPLOY_DIR }}

  clean-releases:
    needs: link
    runs-on: ubuntu-latest
    steps:
      - name: 下载variables
        uses: actions/download-artifact@v2
        with:
          name: variables
      - name: 下载secrets
        uses: actions/download-artifact@v2
        with:
          name: secrets
      - name: 设置环境变量
        run: |
          source secrets && source variables
          echo "HOST=$HOST_IP" >> $GITHUB_ENV
          echo "RELEASE_DIR=$RELEASE_DIR" >> $GITHUB_ENV
          echo "DEPLOY_DIR=$DEPLOY_DIR" >> $GITHUB_ENV
      - name: 生成private_key
        run: source secrets && echo -e $DEPLOY_KEY > private_key
      - name: 清理多余版本
        uses: appleboy/ssh-action@master
        with:
          host: ${{ env.HOST }}
          username: root
          key_path: private_key
          script: |
            # 保留的版本个数
            KEEP_COUNT=1

            if [[ ${{ inputs.DEPLOY_DIR_NAME }} == '' ]]; then
              echo "未配置 DEPLOY_DIR_NAME"
              exit 1
            fi
            if [[ ${{ env.RELEASE_DIR }} == '' ]]; then
              echo "RELEASE_DIR错误"
              exit 1
            fi
            cd ${{ env.RELEASE_DIR }} && cd ..
            RELEASE_COUNT=$(cd ${{ env.RELEASE_DIR }} && cd .. && find $PWD -maxdepth 1 | grep "${{ inputs.DEPLOY_DIR_NAME }}_release_*" -c)
            echo -e "目前在工作目录有 $RELEASE_COUNT 个版本\n"
            if [ "$RELEASE_COUNT" -gt $KEEP_COUNT ]; then
              ((DELETE_COUNT=$RELEASE_COUNT-$KEEP_COUNT))
              echo -e "删除$DELETE_COUNT个最早的版本\n"
              cd ${{ env.RELEASE_DIR }} && cd ..
              TARGET=$(find $PWD -maxdepth 1 | grep "${{ inputs.DEPLOY_DIR_NAME }}_release_*" | sort --human-numeric-sort | head -$DELETE_COUNT)
              echo -e "删除 $TARGET"
              rm -rf $TARGET
            fi

  clean-artifacts:
    needs: clean-releases
    runs-on: ubuntu-latest
    if: always()
    steps:
      - name: 清理构件
        uses: geekyeggo/delete-artifact@v1
        with:
          name: |
            .env
            secrets
