---
#--------------------------------------------------
#  发布 Laravel 到生产环境
#--------------------------------------------------
#

name: Deploy Laravel

on:
  workflow_call:
    inputs:
      REPOSITORY:
        description: 镜像仓库名称
        required: false
        type: string
        default: registry.cn-shanghai.aliyuncs.com/nooks/${{ github.event.repository.name }}
      RUN_TESTS:
        description: 运行单元测试
        required: false
        type: boolean
        default: false
      APP_URL:
        description: 应用的域名
        required: false
        type: string
        default: https://${{ github.event.repository.name }}
      SSH_USER:
        description: SSH 用户名
        required: false
        type: string
        default: root
      DEPLOY_OWNER:
        description: 部署用户
        required: false
        type: string
        default: www
      DEPLOY_DIR:
        description: 部署目录
        required: false
        type: string
        default: /www/wwwroot/${{ github.event.repository.name }}
      DEPLOY_DIR_NAME:
        description: 部署目录名称
        required: false
        type: string
        default: ${{ github.event.repository.name }}
      RELEASE_DIR:
        description: 发布目录
        required: false
        type: string
        default: /www/wwwroot/releases/${{ github.event.repository.name }}_${{ github.ref_name }}_${{ github.sha }}
      DATABASE_NAME:
        description: 数据库名称
        required: false
        type: string
        default: ${{ github.event.repository.name }}

jobs:
  # 从服务器上下载存储secrets的文件
  set-secrets:
    runs-on: self-hosted
    steps:
      - run: cp /www/secrets secrets
      - name: 上传secrets文件
        uses: actions/upload-artifact@v2
        with:
          name: secrets
          path: secrets
          retention-days: 1

  tests:
    runs-on: ubuntu-latest
    if: ${{ inputs.RUN_TESTS }}
    steps:
      - name: 下载项目
        uses: actions/checkout@v2.3.5
      - name: 生成.env文件
        run: cp .env.example .env
      - name: 运行应用
        run: docker-compose -f docker-compose.dev.yml up -d --quiet-pull
      - name: 安装依赖
        run: docker-compose -f docker-compose.dev.yml exec -T app composer install
      - name: 运行单元测试
        run: docker-compose -f docker-compose.dev.yml exec -T app php artisan test --without-tty

  build:
    runs-on: ubuntu-latest
    needs: set-secrets
    steps:
      - name: 下载项目
        uses: actions/checkout@v2.3.5
      - name: 下载secrets
        uses: actions/download-artifact@v2
        with:
          name: secrets
      - name: 登录ACR
        run: |
          source secrets && rm -f secrets
          docker login -u $ACR_USERNAME -p $ACR_PASSWORD ${{ inputs.REPOSITORY }}
      - name: 构建镜像并推送到仓库
        uses: docker/build-push-action@v2
        with:
          context: .
          push: true
          tags: |
            ${{ inputs.repository }}:${{ github.sha }}
            ${{ inputs.repository }}:latest
          cache-from: type=registry,ref=${{ inputs.repository }}
          cache-to: type=inline

  make-env:
    runs-on: ubuntu-latest
    needs: set-secrets
    steps:
      - name: 下载项目
        uses: actions/checkout@v2.3.5
      - name: 下载secrets
        uses: actions/download-artifact@v2
        with:
          name: secrets
      - name: 复制.env文件模板
        run: cp .env.example .env
      - name: 生成.env文件
        uses: nookery/env-replace-action@main
        env:
          APP_URL: ${{ inputs.APP_URL }}
          DATABASE_NAME: ${{ inputs.DATABASE_NAME }}
        with:
          local_script: secrets
      - name: 上传.env构件
        uses: actions/upload-artifact@v2
        with:
          name: .env
          path: .env
          retention-days: 1

  sync:
    needs: [make-env, build, set-secrets]
    runs-on: ubuntu-latest
    steps:
      - name: 下载secrets
        uses: actions/download-artifact@v2
        with:
          name: secrets
      - name: 设置环境变量
        run: |
          source secrets
          echo -e $DEPLOY_KEY > ./deploy_key && chmod 600 deploy_key
          echo "HOST=$HOST_IP" >> $GITHUB_ENV
      - name: 登录ACR
        run: |
          source secrets
          docker login -u $ACR_USERNAME -p $ACR_PASSWORD ${{ inputs.REPOSITORY }}
      - name: 从镜像中提取文件
        run: |
          id=$(docker create ${{ inputs.REPOSITORY }})
          docker cp $id:/workdir ./workdir
      - name: 下载.env文件
        uses: actions/download-artifact@v2
        with:
          name: .env
          path: ./workdir
      - name: 同步到目标服务器
        run: |
          rsync --chown=${{ inputs.DEPLOY_OWNER }}:${{ inputs.DEPLOY_OWNER }} \
            -a --chmod=755 --delete -tt -rltgoDzvO \
            -e "ssh -i ./deploy_key -p 22 -o UserKnownHostsFile=/dev/null -o StrictHostKeyChecking=no" \
            ./workdir/ ${{ inputs.SSH_USER }}@$HOST:${{ inputs.RELEASE_DIR }}

  link:
    needs: sync
    runs-on: ubuntu-latest
    steps:
      - name: 下载secrets
        uses: actions/download-artifact@v2
        with:
          name: secrets
      - name: 设置环境变量
        run: source secrets && echo "HOST=$HOST_IP" >> $GITHUB_ENV
      - name: 生成private_key
        run: source secrets && echo -e $DEPLOY_KEY > private_key
      - name: 设置软链接
        uses: appleboy/ssh-action@master
        with:
          host: ${{ env.HOST }}
          username: root
          key_path: private_key
          script: cd ${{ inputs.RELEASE_DIR }} && cd .. && ln -snf ${{ inputs.RELEASE_DIR }} ${{ inputs.DEPLOY_DIR }}

  clean-releases:
    needs: link
    runs-on: ubuntu-latest
    steps:
      - name: 下载secrets
        uses: actions/download-artifact@v2
        with:
          name: secrets
      - name: 设置环境变量
        run: source secrets && echo "HOST=$HOST_IP" >> $GITHUB_ENV
      - name: 生成private_key
        run: source secrets && echo -e $DEPLOY_KEY > private_key
      - name: 清理多余版本
        uses: appleboy/ssh-action@master
        with:
          host: ${{ env.HOST }}
          username: root
          key_path: private_key
          script: find ${{ inputs.RELEASE_DIR }}/.. -maxdepth 1 | grep "${{ inputs.DEPLOY_DIR_NAME }}_*" | awk 'NR>3' | xargs rm -rf

  clean-artifacts:
    needs: clean-releases
    runs-on: ubuntu-latest
    if: always()
    steps:
      - name: 清理构件
        uses: geekyeggo/delete-artifact@v1
        with:
          name: |
            .env
            secrets
