---
#--------------------------------------------------
#  格式化代码
#--------------------------------------------------
#

name: Fix Code

on:
  workflow_call:
    inputs:
      acr_username:
        required: true
        type: string
      acr_repo:
        required: true
        type: string
    secrets:
      acr_password:
        required: true

jobs:
  fix-code:
    runs-on: ubuntu-latest
    steps:
      - name: 下载项目
        uses: actions/checkout@v2.3.5
      - name: 准备QEMU
        uses: docker/setup-qemu-action@v1
      - name: 准备Docker Buildx
        uses: docker/setup-buildx-action@v1
      - name: 登录ACR
        run: docker login -u ${{ inputs.acr_username }} -p ${{ secrets.acr_password }} registry.cn-shanghai.aliyuncs.com
      - name: 构建和推送镜像
        uses: docker/build-push-action@v2.7.0
        with:
          context: .
          build-args: env=development
          push: true
          tags: |
            ${{ inputs.acr_repo }}:development-${{ github.sha }}
            ${{ inputs.acr_repo }}:development-latest
          cache-from: type=registry,ref=${{ inputs.acr_repo }}:latest
          cache-to: type=inline
      - name: 检查本机镜像
        run: docker images
      - name: 在容器中执行操作
        uses: addnab/docker-run-action@v3
        with:
          username: ${{ inputs.acr_username }}
          password: ${{ secrets.acr_password }}
          registry: registry.cn-shanghai.aliyuncs.com
          image: ${{ inputs.acr_repo }}:development-latest
          options: -v ${{ github.workspace }}:/workdir
          run: |
            set -x
            cd /workdir
            # 安装PHP依赖
            composer install --prefer-dist --optimize-autoloader --no-scripts
            # 安装辅助工具包
            if [[ -f "artisan" ]] && [[ -f "composer.json" ]] && grep -q "laravel-hammer" composer.json ; then
              echo '已安装 fix 命令'
            else
              echo '未安装 fix 命令'
              composer require nookery/laravel-hammer
              if [ -n "$(git status -s)" ]; then
                git config --global user.email "action@github.com"
                git config --global user.name "GitHub Action"
                git add --all
                git commit -m "--自动安装辅助工具包--"
                git push
              fi
            fi
            # 检查代码
            php artisan fix
      - name: 提交变动
        run: |
          # 删除上一步生成的临时文件
          rm -rf semicolon_delimited_script
          if [ -n "$(git status -s)" ]; then
            git config --global user.email "action@github.com"
            git config --global user.name "GitHub Action"
            git pull
            git add --all
            git commit -m "--自动修正代码风格--"
            git push
          fi
